// .mailing-list-cta {
// 	background-color: var(--col-sipco-red);
	
// 	&__image {
// 		width: 100%;
// 		height: 100%;
// 		object-fit: cover;
// 	}
	
// 	h3 {
// 		font-weight: 400;
// 	}
	
// }


.mailing-list-cta {
	color: var(--col-white);
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    isolation: isolate;
    min-height: 400px;
    .container {
        margin-block: auto;
    }
    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200%;
        height: 100%;
		background-color: var(--col-sipco-red);
        mask-image: url("data:image/svg+xml,%3Csvg width='1246' height='742' viewBox='0 0 1246 742' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H1246L853.956 742H0V0Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
        mask-repeat: no-repeat;
        mask-position: center left;
        mask-size: cover;
        opacity: 1;
        z-index: -1;
        @media (min-width: 768px) {
            width: 100%;
            mask-position: center right;
            max-width: 60svw;
            opacity: 1;
        }
    }

	.wpcf7-acceptance {
		.wpcf7-list-item {
			margin-inline-start: 0;
		}
	
		.wpcf7-list-item-label {
			font-size: var(--fs-small);
		}
	}
}