img.image-16x9 {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  object-fit: cover;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

a.image-16x9 {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: block;
  object-fit: cover;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.text-image {
  p {
    max-width: 72ch;
    text-wrap: pretty;
    margin-bottom: 1rem;
  }
}