.page-hero {
    height: 500px;
    &--short {
        height: 350px;
    }
    position: relative;
    overflow: hidden;
    isolation: isolate;

    color: var(--col-white);
    background-color: var(--col-simco-navy);

    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        animation: gentle-scale 5s ease-out forwards;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='1246' height='850' viewBox='0 0 1246 850' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.85'%3E%3Cpath d='M0 0H1246L853.956 850H0V0Z' fill='%23152634'/%3E%3Cpath d='M0 0H1246L853.956 850H0V0Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        opacity: 1;
        z-index: -1;
        @media (min-width: 768px) {
            background-position: center right;
            max-width: 60svw;
        }
    }

    &__pretitle {
        font-size: var(--fs-h3);
        margin-bottom: 0.5rem;
    }
    &__title {
        font-size: var(--fs-h1);
    }
    &__content {
        font-size: var(--fs-h4);
        line-height: var(--lh-h4);
    }
}

@keyframes gentle-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

