.prospectus-cta {
    position: relative;
    background-color: var(--col-sipco-coral-30);
    isolation: isolate;

    &__cover {
        aspect-ratio: 1 / 1.414;
        object-fit: cover;
        width: 100%;
    }

}