.homepage-hero {
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    isolation: isolate;

    padding-top: var(--h-top);

    color: var(--col-white);
    background-color: var(--col-black);

    &__background {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        animation: gentle-scale 5s ease-out forwards;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='1246' height='850' viewBox='0 0 1246 850' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.85'%3E%3Cpath d='M0 0H1246L853.956 850H0V0Z' fill='%23152634'/%3E%3Cpath d='M0 0H1246L853.956 850H0V0Z' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        opacity: 0.8;
        z-index: -1;
        @media (min-width: 768px) {
            background-position: center right;
            max-width: 80svw;
        }
    }
}

@keyframes gentle-scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

