.graphic-hero {
	height: 300px;

	&--full {
		height: 300px;
	}

	&--short {
		height: 200px;
	}
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 1680 350'%3E%3C!-- Generator: Adobe Illustrator 29.8.4, SVG Export Plug-In . SVG Version: 2.1.1 Build 6) --%3E%3Cdefs%3E%3Cstyle%3E .st0 %7B fill: %239a2634; %7D .st1 %7B fill: %23ddb9b5; %7D .st2 %7B fill: none; %7D .st3 %7B fill: %23152634; %7D .st4 %7B fill: %23ba736c; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2'%3E%3Crect class='st2' width='1680' height='350'/%3E%3Crect class='st0' width='1680' height='350'/%3E%3Cpolygon class='st3' points='1197 0 993.6 350 0 350 0 0 1197 0'/%3E%3Cpolygon class='st3' points='1197 0 993.6 350 0 350 0 0 1197 0'/%3E%3Cpolygon class='st1' points='1598.6 350 1232.4 350 1415.5 0 1549 255.2 1598.6 350'/%3E%3Cpolygon class='st4' points='1680 350 1620 350 1439.2 350 1489 255.2 1559.5 121 1680 350'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        color: var(--col-white);
    }
}