.fund-documents {
	&__section {
		border-top: 1px solid var(--col-sipco-grey);
	}

	&__link {
		text-decoration: none;
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		justify-content: space-between;
		align-items: center;
		margin-inline: 1rem;
		background-color: var(--col-light-gold-40);
		padding: 1rem;
		margin-bottom: .75rem;
		transition: background-color 0.3s ease;

		&:hover {
			text-decoration: none;
			background-color: var(--col-light-gold);
		}
	}

	&__link-icon {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
	}


	.accordion-item {
		border: none;
		border-top: 1px solid var(--col-sipco-grey);
	}

	.accordion-button {
		border: none;
        font-size: var(--fs-h3);

		&:not(.collapsed) {
			background-color: var(--white);
			border: none;
			box-shadow: none;
		}

		&:focus {
			border: none;
			box-shadow: none;
		}
	}

	.accordion-collapse {
		border: none;
	}

	.accordion-body {
		border: none;
	}

	.accordion {
		border-bottom: 1px solid var(--col-sipco-grey);
	}
}