.circulars-announcements {
	background-color: var(--col-sipco-light-grey);

	.tab-content {
		background-color: var(--col-white);
		padding: 1rem;
	}

	.nav-tabs,
	.nav-tabs .nav-link {
		border: none;
		border-bottom: 2px solid var(--col-white);
		border-radius: 0;
		color: var(--col-sipco-navy);
	}

	.accordion-item {
		border-bottom: 1px solid var(--col-sipco-grey);
		padding: 1rem 0;
	}


	&__link {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: flex-start;
		background-color: var(--col-light-gold-40);
		padding: 1rem;
		transition: background-color 0.3s ease;

		&:hover {
			text-decoration: none;
			background-color: var(--col-light-gold);
		}

		&:nth-child(even) {
			background-color: var(--col-white);

			&:hover {
				background-color: var(--col-light-gold);
			}
		}

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__link-icon {
		@media (min-width: 768px) {
			margin-left: auto;
		}
	}

	.accordion-item {
		border: none;
		border-bottom: 1px solid var(--col-sipco-grey);
		padding-bottom: 0;
	}

	.accordion-button {
		border: none;

		padding-inline: 0;
		font-size: var(--fs-h3-page-subtitle);
		font-weight: 400;
		color: var(--col-sipco-coral-100);


		&:not(.collapsed) {
			background-color: var(--white);
			border: none;
			box-shadow: none;
		}

		&:focus {
			border: none;
			box-shadow: none;
		}
	}

	.accordion-collapse {
		border: none;
	}

	.accordion-body {
		border: none;
		padding: 0;
	}

	// .accordion {
	// 	border-bottom: 1px solid var(--col-sipco-grey);
	// }

}