.three-col-link-cards {
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto auto auto 1fr auto;
        gap: 4rem;
        
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    &__card {
        text-decoration: none;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 5;
        gap: 0;
        .read-more::before {
            display: none;
        }
        &:hover {
            text-decoration: none;
            .read-more:after,
            .read-more:focus:after {
                margin-left: 0.75rem;
            }
        }
    }
    
    &__card-logo,
    &__card-logo--placeholder {
        margin-bottom: 0.5rem;
        max-height: 140px;
        width: auto;
        object-fit: contain;
        align-self: start;
    }
    
    &__card-image,
    &__card-image--placeholder {
        width: 100%;
        height: auto;
        aspect-ratio: 5 / 3;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    
    &__card-body {
        display: contents;
        
        p {
            margin-bottom: 1rem;
        }
    }
    .read-more {
        position: relative;
        padding-right: 1.5rem;
        text-decoration: none;
        display: inline-block;
        margin-top: auto;
        color: var(--col-dark-gold);
        font-weight: var(--fw-regular);
        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 16 16'%3E%3Cpath fill='%237A6B44' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            display: inline-block;
            position: relative;
            top: 7px;
            margin-left: 0.5rem;
            transition: margin var(--transition);
        }
    }

}