.three-col-grey-cards {
    &__card {
        width: 100%;
        height: 100%;
        background-color: var(--col-light-gold);
    }
    &__card-body {
        padding: 1rem 1rem 2rem 1rem;
    }

}