/* =========================
   BUTTONS
   ========================= */

:root {
  /* Button spacing/tweaks */
  --btn-py: 0.5rem;
  --btn-px: 1.5rem;
  --btn-gap: 0.5rem;
  --btn-border-w: 1px;
}

/* Base button */
.btn,
.btn a {
  --_bg: var(--col-black);
  --_fg: var(--col-white);
  --_bd: var(--col-black);

  display: inline-flex;
  align-items: center;
  gap: var(--btn-gap);

  text-decoration: none !important;
  text-transform: none;

  padding: var(--btn-py) var(--btn-px);
  border-radius: 100vw;
  border: var(--btn-border-w) solid var(--_bd);

  background: var(--_bg);
  color: var(--_fg);

  font-family: var(--ff-body);
  font-weight: var(--fw-700);
  font-size: var(--fs-ui);
  line-height: 1;

  transition:
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition),
    transform var(--transition);

  &:hover {
    background-color: var(--_bg);
    color: var(--_fg);
    border-color: var(--_bg);
  }
}

.btn-light,
.btn-dark,
.btn-arrow {
  position: relative;
  padding-right: calc(var(--btn-px) + 1.5rem); // Add extra space for the arrow
  
  &::after {
      content: '';
      display: inline-block;
      position: absolute;
      right: var(--btn-px);
      top: 50%;
      transform: translateY(-50%);
      width: 23px;
      height: 23px;
      background-color: currentColor;
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      transition: right var(--transition), background-color var(--transition);
  }
  &:hover {
    background-color: var(--_bg);
    color: var(--_fg);
      &::after {
          right: calc(var(--btn-px) - 0.5rem);
      }
  }
}
.no-arrow {
  padding-right: var(--btn-px);
  &::after {
      display: none;
  }
}

.btn-light {
  background-color: var(--col-light-gold);
  border-color: var(--col-light-gold);
  color: var(--col-simco-navy);
  
  &::after {
    background-color: var(--col-simco-navy);
  }
  
  &:hover::after {
    background-color: var(--col-simco-navy);
  }
}

.btn-dark {
  --_bg: var(--col-black);
  --_fg: var(--col-white);
  --_bd: var(--col-black);

  background-color: var(--_bg);
  border-color: var(--_bd);
  color: var(--_fg);
  
  &::after {
    background-color: var(--_fg);
  }
  
  &:hover::after {
    background-color: var(--_fg);
  }
}

.btn-navy {
  background-color: var(--col-simco-navy);
  border-color: var(--col-simco-navy);
  color: var(--col-white);
  &::after {
    background-color: var(--col-warm-grey);
    border-color: var(--col-warm-grey);
    color: var(--col-simco-navy);
  }
}

.btn-next {
  @extend .btn-light;
}
.btn-prev {
  @extend .btn-light;
  padding-left: calc(var(--btn-px) + 1.5rem);
  padding-right: var(--btn-px);
  &::after {
      right: auto;
      left: var(--btn-px);
      transform: translateY(-50%) rotate(180deg);
      transition: left var(--transition), background-color var(--transition);
  }
  &:hover::after {
      left: calc(var(--btn-px) - 0.5rem);
  }
}

.search-button {
  min-height: 38px !important;
}

.btn--sipco-red {
  --_bg: var(--col-sipco-red);
  --_fg: var(--col-white);
  --_bd: var(--col-sipco-red);
  &:hover {
    background-color: hsl( var(--col-sipco-red-hsl) / 50% );
    color: var(--col-white);
    border-color: hsl( var(--col-sipco-red-hsl) / 50% );
  }
}

.btn--sipco-coral {
  --_bg: var(--col-sipco-coral-50);
  --_fg: var(--col-black);
  --_bd: var(--col-sipco-coral-50);
  &:hover {
    background-color: var(--col-sipco-coral-100);
    color: var(--col-black);
    border-color: var(--col-sipco-coral-100);
  }
}

.btn:focus-visible {
  outline: 2px solid var(--col-accent-400);
  outline-offset: 2px;
}

.btn:active {
  transform: translateY(1px);
  box-shadow: var(--shadow-active);
}


/* Disabled */
.btn[disabled],
.btn:disabled {
  opacity: 0.55;
  cursor: not-allowed;
  box-shadow: none;
}

/* Icon affordance (SVG or <i>) */
.btn > svg,
.btn > i {
  inline-size: 1em;
  block-size: 1em;
}

/* Motion preference */
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

/* Submit buttons - arrow styling */
input[type="submit"] {
  @extend .btn;
  
  &:hover {
    background-color: var(--col-sipco-coral-50);
    color: var(--col-black);
    border-color: var(--col-black);      
  }
}
